.box{
    width: 480px;
    margin: 50px auto;
    border: 1px solid lightgray;
    /* padding-left: 20px; */
    border-radius: 20px;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    
}
.food{
    width: 450px;
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 30px;
}
.inner-text{
    padding-left:15px;
    padding-right: 15px;
    
}
.h2d{

    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}
.ni{
    font-size: 20px;
    padding-bottom: 1px;
    color:grey;
}
.zomato{
    width:65px;
    position:absolute; 
    bottom:9px;
    left:15px;
}

.last{
    position:relative;
}
.para{
    padding-left: 100px;
    font-size: 16px;
    color:grey;
}

hr{
    padding-left:10px;
    /* border-color:lightgray; */
    border:1px solid rgb(227, 215, 215);
}

.box-img{
    position:relative;
}
.promo{
    position:absolute ;
    font-size: 15px;
    top:22px;
    left:25px;
    width:75px;
    padding-left: 8px;
    border-radius: 4px;
    background-color: rgba(67, 65, 65, 0.523);
    color:rgb(190, 184, 184);    
}
.off{
    position:absolute ;
    font-size: 15px;
    bottom:22px;
    left:16px;
    width:140px;
    padding-left:10px;
    padding-top: 3px;
    padding-bottom: 3px;
    /* border-radius: 4px; */
    background-color: rgba(102, 102, 233, 0.856);
    color:white; 
}
.time{
    position:absolute ;
    font-size: 15px;
    bottom:22px;
    right:36px;
    width:48px;
    border-radius: 5px;
    padding-right:5px;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 550;
    /* border-radius: 4px; */
    background-color: white;
    color:rgb(32, 31, 31);
}